
<% layout("/layouts/boilerplate") %>
<body>
    <h3>Place Details</h3>
    <ul>
        <li><%=data.title%></li>
        <li><%=data.description%></li>
        <li>Price: &#8377; <%=data.price.toLocaleString("en-IN")%></li>
        <li>Location: <%=data.location%></li>
        <li>country: <%=data.country%></li>
    </ul>
    <button><a href="/listings/<%= data._id %>/edit">Edit Details</a></button> &nbsp; &nbsp;
    <form action="/listings/<%= data._id %>/delete?_method=DELETE"  method="POST">
        <button>Delete</button>
    </form>
</body>
