
<% layout("/layouts/boilerplate") %>
<body>
    <div  id="show-ejs">
    <div> <h3>Place Details</h3></div>
   <div> 
    <div class="image"><img src="<%= data.image %>" class="card-img-top" alt="Place Image";></div>
    <div class="card-body">
      <p class="card-text"><b><%=data.title %></b>
        <br><%=data.description%>
        <br>  &#8377; <%=data.price.toLocaleString("en-IN")%>
        <br><%=data.location%>, <%=data.country%>
        </p>
    </div>
  
</div>
  <div class="show-btns">
    <button class="btn btn-dark"><a href="/listings/<%= data._id %>/edit" style="text-decoration: none; color: white;">Edit Details</a>
    <form action="/listings/<%= data._id %>/delete?_method=DELETE"  method="POST">
        <button class="btn btn-danger delete">Delete</button>
  </div>
    </form>
</div>
</body>
